@model POSModel.RoleModel

@{
    ViewBag.Title = "Create";
}
<style>
    .datepicker {
        z-index: 1151 !important;
    }
</style>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" id="closeTop" data-dismiss="modal" aria-hidden="true">&times;</span>
            <h4 class="modal-title">User Role </h4>
        </div>
        @using (Html.BeginForm("CreateEditUserRoles", "SetUp", FormMethod.Post, new { id = "role-form" }))
        {
            <div class="modal-body">
                <div class="content-box">

                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-grop_padding">
                                 
                                    @Html.HiddenFor(model => model.RoleId)
                                    @Html.LabelFor(model => model.RoleName)
                                    @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RoleName)
                                </div>
                            </div>                        
                        </div>
                    </div>

                </div>
            </div>
          
            <div class="btn-groups modal-footer">
                @if (Model.RoleId == 0)
                {
                    
                    <button type="submit" class="btn btn-primary btn-save"><i class="fa fa-save"></i> Save</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary btn-save"><i class="fa fa-save"></i> Save Change</button>
                }
            </div>
        }
    </div>
</div>
<script>
    $(function () {
        $.validator.unobtrusive.parse('#role-form');
        $('#role-form').ajaxForm({
            beforeSubmit: function () {
                $('#role-form').removeData("validator").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse($('#role-form'));
                if ($("#role-form").valid()) {
                    WorkForce.loader.show();
                } else {
                    return false;
                }
            },
            success: function (result) {
                if (result.Success) {
                    WorkForce.loader.hide();
                    ShowMessage("success", "success", result.Msg);
                    $('#pop-up-div').modal('hide');
                    location.href = '@Url.Content("~/SetUp/UserRolesIndex")';
                } else {
                    WorkForce.loader.hide();
                    ShowMessage("error", "error", result.Msg);
                }


            },
            error: function () {
                WorkForce.loader.hide();
                ShowMessage("error", "error", "error in calling ajax!!");
            }

        });
    });
</script>
