@model POSModel.ResourceSubscriberModel

@{
    ViewBag.Title = "Create";
}
<style>
    .datepicker {
        z-index: 1151 !important;
    }
</style>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" id="closeTop" data-dismiss="modal" aria-hidden="true">&times;</span>
            <h4 class="modal-title">Suscriber</h4>
        </div>
        @using (Html.BeginForm("CreateResourceSubscriber", "SetUp", FormMethod.Post, new { id = "CreateResourceSubscriber-form" }))
        {
            <div class="modal-body">
                <div class="content-box">
                    @Html.HiddenFor(model => model.SubscriberId)


                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(model => model.FirstName)
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FirstName)
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(model => model.MiddleName)
                                    @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MiddleName)
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(model => model.LastName)
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(model => model.MembershipNumber)
                                    @Html.TextBoxFor(model => model.MembershipNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MembershipNumber)
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(model => model.IsStudent)
                                    @Html.CheckBoxFor(model => model.IsStudent, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IsStudent)
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(model => model.IsEmployee)
                                    @Html.CheckBoxFor(model => model.IsEmployee, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IsEmployee)
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(model => model.IsActive)
                                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IsActive)
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="btn-groups modal-footer">
                @if (Model.SubscriberId == 0)
                {

                    <button type="submit" class="btn btn-primary btn-save"><i class="fa fa-save"></i> Save</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary btn-save"><i class="fa fa-save"></i> Save Change</button>
                }
            </div>
        }
    </div>
</div>

<script>
    $(function () {
        $.validator.unobtrusive.parse('#CreateResourceSubscriber-form');
        $('#CreateResourceSubscriber-form').ajaxForm({

            beforeSubmit: function () {
                $('#CreateResourceSubscriber-form').removeData("validator").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse($('#CreateResourceSubscriber-form'));
                if ($("#CreateResourceSubscriber-form").valid()) {
                    WorkForce.loader.show();
                } else {
                    return false;
                }
            },
            success: function (result) {
                if (result.Success) {
                    WorkForce.loader.hide();
                    ShowMessage("success", "success", result.Msg);
                    $('#pop-up-div').modal('hide');
                    location.href = '@Url.Content("~/SetUp/ResourceSubscriberIndex")';
                } else {
                    WorkForce.loader.hide();
                    ShowMessage("error", "error", result.Msg);
                }


            },
            error: function () {
                WorkForce.loader.hide();
                ShowMessage("error", "error", "error in calling ajax!!");
            }

        });
    });
</script>
