@model POSModel.ResourceIssueModel

@{
    ViewBag.Title = "_Return";
}

<h2>_Return</h2>


<style>
    .datepicker {
        z-index: 1151 !important;
    }
</style>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" id="closeTop" data-dismiss="modal" aria-hidden="true">&times;</span>
            <h4 class="modal-title">Return</h4>
        </div>
        @using (Html.BeginForm("CreateReturn", "ResourceIssue", FormMethod.Post, new { id = "resource-return-form" }))
        {
            <div class="modal-body">
                <div class="content-box">
                    @Html.HiddenFor(model => model.SubscriberId)

                    @Html.HiddenFor(model => model.ResourceCopyId)

                    @Html.HiddenFor(model => model.IssueId)

                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(model => model.ResourceCopyNumber)
                                    @Html.TextBoxFor(x => x.ResourceCopyNumber)
                                    @Html.ValidationMessageFor(model => model.ResourceCopyNumber)
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-grop_padding">


                                    @Html.LabelFor(model => model.IssueDate)
                                    @*@Html.TextBoxFor(model => model.Nationality, new { @class = "form-control" })*@
                                    @Html.TextBoxFor(x => x.IssueDate)
                                    @Html.ValidationMessageFor(model => model.IssueDate)

                                </div>
                            </div>



                            <div class="col-md-12">
                                <div class="form-grop_padding">


                                    @Html.LabelFor(model => model.ReturnBackDate)
                                    @Html.TextBoxFor(x => x.ReturnBackDate)
                                    @Html.ValidationMessageFor(model => model.ReturnBackDate)
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-grop_padding">

                                    @Html.LabelFor(model => model.Remarks)
                                    @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Remarks)
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="btn-groups modal-footer">
                @if (Model.IssueId == 0)
                {

                    <button type="submit" class="btn btn-primary btn-save"><i class="fa fa-save"></i> Save</button>
                }
                @*else
                    {
                        <button type="submit" class="btn btn-primary btn-save"><i class="fa fa-save"></i> Save Change</button>
                    }*@
            </div>
        }
    </div>
</div>

<script>
    $(function () {

        $('#resource-return-form').ajaxForm({

            beforeSubmit: function () {
                $('#resource-return-form').removeData("validator").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse($('#resource-return-form'));
                if ($("#resource-return-form").valid()) {
                    WorkForce.loader.show();
                } else {
                    return false;
                }
            },
            success: function (result) {
                if (result.Success) {
                    WorkForce.loader.hide();
                    ShowMessage("success", "success", result.Msg);
                    $('#pop-up-div').modal('hide');
                    location.href = '@Url.Content("~/ResourceIssue/ReturnIndex")';
                } else {
                    WorkForce.loader.hide();
                    ShowMessage("error", "error", result.Msg);
                }


            },
            error: function () {
                WorkForce.loader.hide();
                ShowMessage("error", "error", "error in calling ajax!!");
            }

        });
    });

     $('.nepali-calendar').nepaliDatePicker({
                npdMonth: true,
                npdYear: true,
            });
</script>



